#pollici .col-3 {
  border: 1px solid black;
  border-radius: 30%;
}

#imgPolliceGiallo {
  transform: rotate(90deg);
}

#imgPolliceRosso {
  transform: rotate(180deg);
}

#polliceVerde:hover {
  background-color: green;
}

#polliceGiallo:hover {
  background-color: yellow;
}

#polliceRosso:hover {
  background-color: red;
}

.Stoffa {
  background-image: url("../images/sale/Stoffa.jpg");
  background-size: cover;
}

.Pelle {
  background-image: url("../images/sale/Pelle.jpg");
  background-size: cover;
}

#sectionSale {
  background-color: rgb(52, 1, 100);
}
