#pollici .col-3 {
  border: 1px solid black;
  border-radius: 30%;
}

#imgPolliceGiallo {
  transform: rotate(90deg);
}

#imgPolliceRosso {
  transform: rotate(180deg);
}

#polliceVerde:hover {
  background-color: green;
}

#polliceGiallo:hover {
  background-color: yellow;
}

#polliceRosso:hover {
  background-color: red;
}

.Stoffa {
  background-image: url("../images/sale/Stoffa.jpg");
  background-size: cover;
}

.Pelle {
  background-image: url("../images/sale/Pelle.jpg");
  background-size: cover;
}

.Plastica {
  background-image: url("../images/sale/Plastica.jpg");
  background-size: cover;
}

#sectionSale {
  background-color: rgb(52, 1, 100);
}

/* CSS preloader */
#preloader {
  background: white url("../images/preloader.gif") no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.preloader {
  background: white url("../images/preloader.gif") no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* Fine CSS preloader */

#sectionPrenotazione {
  background-color: rgb(52, 1, 100);
}

#prenotazione {
  color: white;
}

#bookingSection {
  height: 600px;
  background: url(../images/Img\ sala\ cinema\ edited.png) no-repeat center;
}

.seat {
  margin-top: 15%;
  width: 480px;
}

.seat button {
  background: url(../images/singolaPoltrona.png) no-repeat center;
  width: 40px;
  height: 40px;
  border: 0px;
}

.posto1 {
  filter: saturate(12);
}

.buttonClicked {
  filter: hue-rotate(120deg);
}
