#modalLogin .modal-body,
#modalReg .modal-body {
  display: flex;
  padding: 0;
  border-radius: 4rem;
  font-family: "PT Sans", sans-serif;
}

#modalLogin .modal-content,
#modalReg .modal-content {
  border-radius: 4rem;
  width: 140%;
  -webkit-box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
  box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
}
#modalLogin .modal-content h1,
#modalReg .modal-content h1,
#modalLogin .modal-content h2,
#modalReg .modal-content h2,
#modalLogin .modal-content h3,
#modalReg .modal-content h3 {
  text-align: center;
}
#modalLogin .modal-content h1,
#modalReg .modal-content h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}

#modalLogin .modal-content h2,
#modalReg .modal-content h2 {
  font-size: 1.1em;
}
#modalLogin .modal-content h3,
#modalReg .modal-content h3 {
  font-size: 0.8em;
  letter-spacing: 2px;
}
#modalLogin form,
#modalReg form {
  font-size: 0.8em;
}
#modalLogin .column,
#modalReg .column {
  flex: 50%;
  padding: 10px;
}

#modalLogin .column.main,
#modalReg .column.main {
  flex: 75%;
  padding: 50px;

  margin-left: 15px;
}

#modalLogin .secondary,
#modalReg .secondary {
  background-color: violet;
  border-radius: 0 4rem 4rem 0;
  text-align: center;
}

#modalLogin .main .form-control,
#modalReg .main .form-control {
  border-radius: 0;
  font-size: 0.9em;
}

.btn {
  text-transform: uppercase;
  border-radius: 0.15rem;
  width: 200px;
  padding: 0.15rem 0.75rem;

  font-family: "PT Sans", sans-serif;
  letter-spacing: 2px;
}

.btn-primary {
  border-color: rgba(255, 255, 255, 0);
  background: violet;
  background: -moz-linear-gradient(left, violet 0%, violet 99%);
  background: -webkit-linear-gradient(left, violet 0%, violet 99%);
  background: linear-gradient(to right, violet 0%, violet 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='violet', endColorstr='violet',GradientType=1 );
}

.btn-primary:hover {
  border-color: blueviolet;
  background-color: blueviolet;
}

#modalLogin .main .btn-primary,
#modalReg .main .btn-primary {
  width: 100%;
}
#modalLogin .secondary .btn-primary,
#modalReg .secondary .btn-primary {
  background: #f8f9fa4f;
  color: #000;
}
#modalLogin .modal-body label,
#modalReg .modal-body label {
  margin-bottom: 0;
}

#modalLogin .sec-content,
#modalReg .sec-content {
  margin-top: 85%;
}
